/* base style */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.75em;
}

.menu-item {
  float: left;
  margin: 0;
}

section {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: gray;
}

section > h2 {
  float: right;
  width: 150px;
  border: 1px solid black;
  text-align: center;
  margin-top: -11px;
  margin-right: -11px;
  font-size: 1.25em;
}

.menu-item:nth-child(1) > section > h2 {
  background-color: plum;
}

.menu-item:nth-child(2) > section > h2 {
  background-color: brown;
}

.menu-item:nth-child(3) > section > h2 {
  background-color: bisque;
}

section > p {
  clear: right;
}

/* media tag */
/* desktop view */
@media (min-width: 992px) {
  .menu-item {
    width: 33.33%;
  }
}
/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .menu-item {
    width: 50%;
  }
  .menu-item:nth-child(odd):last-child {
    width: 100%;
  }
}
/* mobile view */
@media (max-width: 767px) {
  .menu-item {
    width: 100%;
  }
}