/* base style */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.75em;
}

.menu-item {
  float: left;
  margin: 0;
}

section {
  position: relative;
  border: 1px solid black;
  margin: 10px;
  background-color: lightgray;
}

section > h2 {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 120px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item:nth-child(1) > section > h2 {
  background-color: plum;
}

.menu-item:nth-child(2) > section > h2 {
  background-color: brown;
  color: white;
}

.menu-item:nth-child(3) > section > h2 {
  background-color: bisque;
}

section > p {
  margin: 0;
  padding: 35px 10px 10px 10px;
}

/* media tag */
/* desktop view */
@media (min-width: 992px) {
  .menu-item {
    width: 33.33%;
  }
}
/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .menu-item {
    width: 50%;
  }
  .menu-item:nth-child(odd):last-child {
    width: 100%;
  }
}
/* mobile view */
@media (max-width: 767px) {
  .menu-item {
    width: 100%;
  }
}